<div class="chartWrapper">
  <canvas baseChart
  [data]="lineChartData"
  [labels]="lineChartLabels"
  [options]="lineChartOptions"
  [chartType]="lineChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
  [draggable]="true"></canvas>
</div>
